.wrapper .content
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} 

body{
    background-color: #4a98f7;
}

.wrapper
{
    width:440px ;
    background-color: white;
    border-radius: 10px;
    flex-direction: column;
    padding: 30px 30px 38px;
}

.wrapper img{
    max-width: 103px ;
    margin-left: 40%;
}

.wrapper h1{
    font-size: 30px;
    font-weight: 500;
    margin-left:30% ;
}

.wrapper .content{
    width: 100%;
    justify-content: space-between;
}
.wrapper .content.disable{
    opacity: 0.3;
    pointer-events: none;
}
.content .column{
    border-radius: 5px;
    border: 1px solid greenyellow;
    width: calc(100%/3-5px);
    padding: 0 10px;
}

.column select{
    outline: none;
    border: none;
    height: 53px;
    width: 100%;
    font-size: 19px;

}

.wrapper button{
  width: 100%;
  margin-top: 40px;
  height: 40px;
  margin-bottom: 10px;
  background-color: goldenrod;
  color: white;
  border-radius: 10px;
  border: 1px solid blue;
  font-size: 20px;
    
}